.dialog-ctn
    .dialog-overlay
    .dialog#help-dialog
        .close &times;
        .pages
            .active(tab-name="help")
                .heading.no-margin
                    h1 Ayuda
                .content
                    h3 Creando una cuenta
                    p Puedes iniciar sesión o crear una cuenta haciendo click en el botón de Empezar en la barra de navegación. Una vez que hagas esto, puedes ingresar los datos de tu cuenta o crear una nueva.
                    h3 Colocando pixeles
                    p Colocar píxeles es fácil. Desplázate hasta el área en la que deseas colocar el píxel, amplía, selecciona tu color haciendo clic en él en la paleta y haz clic en el lugar donde deseas colocarlo.
                    h3 Controles de teclado
                    p Puedes utilizar los siguientes controles de teclado:
                    ul
                        li #[kbd G]: Alternar cuadrícula.
                        li #[kbd Barra espaciadora]: Acercar / alejar.
                        li #[kbd Esc]: Salir del selector de color, salir del diálogo, anular la selección del color actual.
                        li #[kbd &#x25B2; / W]: Mover hacia arriba
                        li #[kbd &#x25BC; / S]: Mover hacia abajo
                        li #[kbd &#x25C0; / A]: Mover a la izquierda
                        li #[kbd &#x25B6; / D]: Mover a la derecha
        .dialog-footer.align-end: a.btn.btn-popping(data-dialog-dismiss=true) Cerrar
