#popout-container
    .navigation-bar
        span.title
        .buttons
            span.popout-btn(aria-label="Popout") &#x2197;
            span.close-btn(aria-label="Close") &times;
    .content-ctn
        .tab-content#leaderboardTab(data-tab-name="leaderboard")
            .coming-soon
                p Loading…
        .tab-content#activeUsersTab(data-tab-name="active-users")
            .coming-soon
                p Loading…
    .tabbar
        .tab(data-tab-name="leaderboard", title="Leaderboard"): i.fa.fa-trophy
        .tab(data-tab-name="active-users", title="Active Users"): i.fa.fa-users
